{% extends "base.html" %}
{% block title %}Compras{% endblock %}

{% block content %}

<div class="materia-container">

    <div class="materia-header">
        <h2>Compras</h2>
        <a href="{% url 'crear_compra' %}" class="btn btn-new">
            ➕ Nueva Compra
        </a>
    </div>

    <table class="produccion-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Proveedor</th>
                <th>Materia</th>
                <th>Cantidad</th>
                <th>Costo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for c in compras %}
            <tr>
                <td>{{ c.codigo }}</td>
                <td>{{ c.proveedor.nombre }}</td>
                <td>{{ c.materia_prima.nombre }}</td>
                <td>{{ c.cantidad }}</td>
                <td>{{ c.costo }}</td>
                <td class="acciones">
                    <a href="{% url 'editar_compra' c.codigo %}" class="btn btn-edit">
                        Editar
                    </a>
                    <a href="{% url 'eliminar_compra' c.codigo %}" class="btn btn-delete">
                        Eliminar
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" style="text-align:center;">
                    No hay compras registradas.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}