{% extends "base.html" %}
{% block title %}{{ titulo }}{% endblock %}

{% block content %}

<div class="form-container">

    <h2 class="form-title">{{ titulo }}</h2>

    <form method="post" class="form-box">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="acciones-form">
            <button type="submit" class="btn btn-confirm">
                Guardar
            </button>

            <a href="{% url 'listar_materias' %}" class="btn btn-delete">
                Cancelar
            </a>
        </div>
    </form>

</div>

{% endblock %}