{% extends "base.html" %}
{% block title %} Materia Prima {% endblock %}

{% block content %}
<div class="form-container">
  <h2 class="form-title">
    {% if form.instance.pk %}✏️ Editar{% else %}➕ Agregar{% endif %} Materia
  </h2>

  <form method="post" class="materia-form">
      {% csrf_token %}

      {{ form.non_field_errors }}
      {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}

      <div class="form-box">
        {% for field in form.visible_fields %}
          <div class="form-row">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
              <small class="help">{{ field.help_text }}</small>
            {% endif %}
            {% if field.errors %}
              <div class="field-error">{{ field.errors|striptags }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>

      <div class="acciones-form">
        <button type="submit" class="btn-primary">
          {% if form.instance.pk %}Guardar Cambios{% else %}Guardar{% endif %}
        </button>
        <a href="{% url 'materia_list' %}" class="btn-back">⬅️ Volver</a>
      </div>
  </form>
</div>
{% endblock %}
