{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="form-container">
    <h2 class="form-title">Iniciar Sesión</h2>
    <form method="post" class="form-box">
        {% csrf_token %}

        <div class="input-group">
            {{ form.username }}
            <label for="{{ form.username.id_for_label }}">Nombre de usuario</label>
        </div>

        <div class="input-group">
            {{ form.password }}
            <label for="{{ form.password.id_for_label }}">Contraseña</label>
        </div>

        <button type="submit" class="btn-primary">Entrar</button>
    </form>

    <p class="form-link">
        ¿No tienes cuenta? <a href="{% url 'register' %}">Registrarme</a>
    </p>
</div>
{% endblock %}
