{% extends "base.html" %}
{% block title %}Producción{% endblock %}

{% block content %}

<div class="produccion-container">

    <div class="materia-header">
        <h2>Producción</h2>
        <a href="{% url 'crear_produccion' %}" class="btn btn-new">
            ➕ Nueva
        </a>
    </div>

    <table class="produccion-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for p in producciones %}
            <tr>
                <td>{{ p.codigo }}</td>
                <td>{{ p.producto.nombre }}</td>
                <td>{{ p.cantidad_unidad }}</td>
                <td>{{ p.fecha_creacion }}</td>
                <td class="acciones">
                    <a href="{% url 'editar_produccion' p.codigo %}" class="btn btn-edit">
                        Editar
                    </a>
                    <a href="{% url 'eliminar_produccion' p.codigo %}" class="btn btn-delete">
                        Eliminar
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" style="text-align:center;">
                    No hay registros de producción.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}